html,
body {
  height: 100%;
  margin: 0;
}

/* main body */
.main {
  width: 100%;
  height: 100%;
  background-color: #e3e4e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#headingname {
  font-family: "Poppins", sans-serif;
  position: absolute;
  color: #22252d;
  top: 80px;
  left: 150px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.calbody {
  border-radius: 20px;
  width: 300px;
  height: 600px;
  background-color: #22252d;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

/* display portion */
.caldisplay {
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 230px;
  background-color: #292d36;
  display: flex;
  flex-direction: column; /* Stack result and input fields vertically */
  justify-content: flex-end; /* Align them towards the bottom */
  overflow: hidden; /* Prevent overflow outside the calculator body */
}

.textout {
  text-align: right; /* Align result to the right */
  width: 100%;
  color: rgb(248, 166, 15);
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  box-sizing: border-box;
  white-space: nowrap; /* Prevent wrapping */
  overflow-x: auto; /* Enable horizontal scrolling */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.textout::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}

.textcal {
  width: 100%;
}

#inputtext {
  font-size: 32px;
  height: 60px;
  border: none;
  outline: none;
  background-color: #292d36;
  color: white;
  font-family: "Poppins", sans-serif;
  width: 100%;
  text-align: right; /* Align input text to the right */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping */
  padding: 10px;
  box-sizing: border-box;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

#inputtext::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}

/* button portion */
.buttonbody {
  position: relative;
  top: -50;
  color: #292d36;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 370px;
  border-top-left-radius: 15px;
  border-top-left-radius: 15px;
}

.btnrow {
  margin: 0;
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.btnrow button {
  background-color: #272b33;
  color: #25efd3;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  width: 50px;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
}

.btnrow button:last-child {
  color: #e26463;
}

button:hover {
  transform: scale(1.05);
  background-color: #494949; /* Slightly brighter shade */
  box-shadow: 0px 4px 15px rgba(76, 175, 80, 0.2);
}

button:active {
  background-color: #4b505e;
}
